$inverse-global-color-mode: none;

$global-font-family: 'Lora', serif;

$global-background: #eeeeef;
$global-muted-background: #eeeeef;
$global-primary-background: #323133;
$global-secondary-background: #f0a117;

$global-cart-header: #00caaa;

$global-slider-background: #00caaa;
$global-slider-color: #eeeeef;


$global-label-new-background: #00caaa;

$global-color: #262526;
$global-inverse-color: #eeeeef;

$global-link-color: #f0a117;
$global-link-hover-color: #f0a117;

$base-heading-font-family: 'Archivo', sans-serif;
$base-heading-font-weight: 900;
//#c0eef7

$inverse-global-color: rgba($global-inverse-color, 1);
$inverse-global-emphasis-color: $global-inverse-color;
$inverse-global-muted-color: rgba($global-inverse-color, 0.9);
$inverse-global-inverse-color: $global-color;

$inverse-global-primary-background: $global-inverse-color;
$inverse-global-muted-background: rgba($global-inverse-color, 0.1);

$inverse-global-border: rgba($global-inverse-color, 0.2);

$vertical-space-articlecard: 67px;
$discounted-price-color: #dc2f38;
