$inverse-global-color-mode: none;

$global-font-family: "Lato", sans-serif;

$global-background: #fff;
$global-muted-background: #f2f4f5;
$global-primary-background: #00bbe0;
$global-secondary-background: #fa6900;

$global-cart-header: #fa6900;

$global-slider-background: #fce0cc;
$global-slider-color: #002a32;

$global-label-new-background: #00bbe0;

$global-color: #002a32;
$global-inverse-color: #fff;

$global-link-color: #00bbe0;
$global-link-hover-color: #00bbe0;

$base-heading-font-weight: 900;
$base-heading-font-family: "Lato", sans-serif;
//#c0eef7

$inverse-global-color: rgba($global-inverse-color, 1);
$inverse-global-emphasis-color: $global-inverse-color;
$inverse-global-muted-color: rgba($global-inverse-color, 0.9);
$inverse-global-inverse-color: $global-color;

$inverse-global-primary-background: $global-inverse-color;
$inverse-global-muted-background: rgba($global-inverse-color, 0.1);

$inverse-global-border: rgba($global-inverse-color, 0.2);

$vertical-space-articlecard: 67px;
$discounted-price-color: #ed8b00;
